html { box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
:root {
    --primery-text-color: #212121;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    }

body {
    background-color: #FFFFFF;
    font-family: Roboto, sans-serif;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}
img {
    display: block;
}
.container {
    width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.header-container {
    border-bottom: 1px solid #ECECEC;
}
.logotype {
    margin-right: 93px;
}
.logo-web {
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    color:  #2196F3;
}
.logo-studio {
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    color: black;
}
.main-menu {
    display: flex;
    align-items: center;
}
.menu-list  {
    display: flex;
    margin: 0px;
    padding: 0px;
}
.current {
    position: relative;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    width: 100%;
}
.current::after {
    display: block;
    position: absolute;
    content: "";
    left: 0%;
    bottom: 0%;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
}
.menu-list li:not(:last-child) {
    margin-right: 50px;
}
.menu-list.menu-list-item:last-child {
    margin-right: 0px;
}
.nav-contacts-list {
    display: flex;
    padding: 0px;
    margin: 0px;
    margin-left: auto;
}
.nav-contacts-list .nav-contacts-item:not(:last-child) {
    margin-right: 50px;
}
.contacts-header {
    display: flex;
    align-items: center;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-header:hover,
.contacts-header:focus {
    color: var(--accent-color);
    outline: none;
}
.nav-contacts-list {
    display: flex;
}
.email-icon {
    margin-right: 10px;
    fill: currentColor;
    width: 16px;
    height: 12px;
}
.phone-icon {
    margin-right: 10px;
    fill: currentColor;
    width: 10px;
    height: 16px;
}
.title-nav {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 14px;
    font-weight: 500;
    color: #2F303A;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.title-nav:hover,
.title-nav:focus {
    color: var(--accent-color);
    outline: none;
}

.menu-button {
    font-family: Roboto;
    font-weight: 500;
    font-size: 16px;
    background-color: #F5F4FA;
    transition-property: background-color; 
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-button:hover {
    color: #FFFFFF;
    background-color: var(--accent-color);
    cursor: pointer;
}
.menu-button:focus {
    color: #FFFFFF;
    background-color: var(--accent-color);
    outline: none;
}
.main-container {
    display: block;
    margin: 0px;
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
    background-image: 
       linear-gradient(
           to right, 
           rgba(47, 48, 58, 0.4),
           rgba(47, 48, 58, 0.4)
       ),
       url(../images/heroes.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-size: 1600px;
}

.main-title {
    margin-top: 0px;
    margin-bottom: 30px;
    font-size: 44px;
    font-weight: 900;
    font-style: normal;
    line-height: 1.4;
    color: white;
}
.main-button {
    padding: 8px 30px 8px 30px;
    font-family: Roboto;
    background-color: #2196F3;
    font-size: 16px;
    font-weight: 700;
    color: white;
    letter-spacing: 0.06em;
    line-height: 30px;
    border-radius: 4px;
}
.advantage-container {
    margin-left: auto;
    margin-right: auto;
    padding-top: 94px;
    padding-bottom: 94px;
}
.advantage {
    font-size: 14px;
    font-weight: 700;
    color: #212121;
    line-height: 1.14;
    letter-spacing: 0.03em;
}
.advantage-list {
    margin: 0px;
    padding: 0px;
    display: flex;
    list-style: none;
}
.advantage-list .advantage-list-item:not(:last-child) {
    margin-right: 30px;
}
.advantage-list-item::before {
    display: block;
    content: "";
    height: 120px;
    border-radius: 4px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #F5F4FA;
}
.advantage-list-item:nth-child(1)::before{
    background-image: url(../images/antenna.png) ;
}
.advantage-list-item:nth-child(2)::before{
    background-image: url(../images/clock.png) ;
}
.advantage-list-item:nth-child(3)::before{
    background-image: url(../images/diagramma.png) ;
}
.advantage-list-item:nth-child(4)::before{
    background-image: url(../images/astronaut1.png) ;
}

.advantage-fill {
    font-size: 14px; ;
    font-weight: 400 ;
    color: #757575;
}
.title-two {
    margin: 0px;
    margin-bottom: 50px;
    font-size: 36px;
    font-weight: 700;
    color: black;
    font-family: Roboto;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
}
.works {
    padding-bottom: 94px;
}

.works-type {
    position: absolute;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    color: #FFFFFF;
    letter-spacing: 0.03em;
    bottom: 27px;
}
.works-list {
    display: flex;
    margin: 0px;
    padding: 0px;
}
.works-list-text {
    text-transform: uppercase;
}
.works-list-item {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.works-list-item::before{
    content: "";
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 70px;
    background-color:rgba(47, 48, 58, 0.8) ;
}
.works-list-item:not(:last-child){
    margin-right: 30px;
}

.team {
    padding-top: 94px ;
    padding-bottom: 94px ;
    background-color:#F5F4FA;
}
.title-team {
    margin: 0px;
    margin-bottom: 50px;
    font-size: 36px;
    font-weight: 700;
    color: black;
    font-family: Roboto;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
}
.team-list {
    display: flex;
    margin: 0px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
}
.team-person-card {
    padding: 30px 32px;
    background-color: #FFFFFF;
}
.team-member {
    margin: 0px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    color: #212121 ;
}
.team-role {
    margin: 0px;
    margin-bottom: 16px;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    color: #757575;
}
.team-person {
    transition-property: box-shadow;
    box-shadow: 0px 2px 1px 0px #00000033;
    box-shadow: 0px 1px 1px 0px #00000024;
    box-shadow: 0px 1px 3px 0px #0000001F;
}
.team-person:not(:last-child) {
    margin-right: 30px;
}
.social-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
    padding: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 44px;
    height: 44px;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social-container:hover,
.social-container:focus {
    background-color: var(--accent-color);
    border-radius: 50%;
    outline: none;

}
.social-container:hover .instagram-icon,
.social-container:focus .instagram-icon{
    fill: #FFFFFF;
    outline: none;
}
.social-container:hover .twitter-icon,
.social-container:focus .twitter-icon{
    fill: #FFFFFF;
    outline: none;
}
.social-container:hover .facebook-icon,
.social-container:focus .facebook-icon{
    fill: #FFFFFF;
    outline: none;
}
.social-container:hover .linkedin-icon,
.social-container:focus .linkedin-icon{
    fill: #FFFFFF;
    outline: none;
}
.social-list {
    display: flex;
    margin: 0px;
    padding: 0px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}
.social-list-item:not(:last-child) {
    margin-right: 10px;
}
.social-link {
    display: inline-block;
    width: 44px;
    height: 44px;
}
.instagram-icon {
    fill: #AFB1B8;
    width: 20px;
    height: 20px;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}
.twitter-icon {
    fill: #AFB1B8;
    width: 20px;
    height: 20px;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.facebook-icon {
    fill: #AFB1B8;
    width: 20px;
    height: 20px;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.linkedin-icon {
    fill: #AFB1B8;
    width: 20px;
    height: 20px;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients {
    margin: 0px;
    margin-bottom: 50px;
    font-size: 36px;
    font-weight: 700;
    color: black;
    font-family: Roboto;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
}
.clients-container {
    padding-top: 94px;
    padding-bottom: 94px;
}
.clients-list {
    display: flex;
    margin: 0px;
    padding: 0px;
}

.clients-list-item:not(:last-child) {
    margin-right: 30px;
}
.clients-list-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 92px;
    border: 1px solid;
    color: #AFB1B8;
    border-radius: 4px;
    background-repeat: no-repeat;
    background-position: center;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-list-link:hover,
.clients-list-link:focus {
    color: var(--accent-color);
    cursor: pointer;
    outline: none;
}

.clients-list-link:hover .company-icons,
.clients-list-link:focus .company-icons {
    fill: currentColor;
    outline: none;
}
.company1-icon {
    height: 41px;
    width: 47px;
    fill: currentColor;
}
.company2-icon {
    height: 52px;
    width: 40px;
    fill: currentColor;
}
.company3-icon{
    height: 41px;
    width: 43px;
    fill: currentColor;
}
.company4-icon{
    height: 40px;
    width: 84px;
    fill: currentColor;
}
.company5-icon{
    height: 45px;
    width: 63px;
    fill: currentColor;
}
.company6-icon {
    height: 44px;
    width: 94px;
    fill: currentColor;
}
.contacts {
    margin: 0px;
    padding: 0px;
}
.contacts-header {   
    font-weight: 500;
    font-size: 14px;
    font-style: normal;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: #757575;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-header:hover, 
.contacts-header:focus {
    color: #2196F3;
    outline: none;
}
.footer-container {
    display: flex;
    align-items: baseline;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #2f303a;
}
.footer-contacts-container {
    margin-right: 70px;
}
.footer-parts {
    display: flex;
    align-items: baseline;
}
.logotype-footer {
    display: block;
    margin-bottom: 20px;
}
.logo-studio-footer {
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    color: #FFFFFF;
}
.contacts-footer {   
    font-weight: 500;
    font-size: 14px;
    font-style: normal;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts li:not(:last-child) {
    margin-bottom: 9px;
}
.contacts-footer:hover.contacts-footer:focus {
    color: var(--accent-color);
    outline: none;
    } 

.contact-item:hover {
    color: var(--accent-color);
    outline: none;
}
.contact-item:focus {
    color: var(--accent-color);
    outline: none;
}

.address {
    display: block;
    margin-bottom: 9px;
    font-style: normal;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}
.footer-socials{
    display: flex;
    flex-direction: column;
}

.join-us {
    text-transform: uppercase;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    color: #FFFFFF;
    font-family: Roboto;
    line-height: 1.16;
    letter-spacing: 0.03em;
}
.social-list-link {
    display: flex;
    margin-right: 10px;
}
.social-container {
    background-color:rgba(255, 255, 255, 0.1);
    border-radius: 50%;
}

.project-title {
    margin: 0px;
    padding: 0px;
    margin-bottom: 4px; ;
    font-size: 18px;
    font-weight: 700;
    color: #212121;
    font-family: Roboto;
    line-height: 2;
    letter-spacing: 0.06em;

}
.project-type {
    margin: 0px;
    padding: 0px;
    font-size: 16px;
    font-weight: 400;
    color: #757575;
}
.portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
}
.portfolio-menu {
    display: flex;
    margin: 0px;
    padding: 0px;
    justify-content: center;
    list-style: none;
}
.portfolio-menu li:not(:last-child) {
    margin-right: 8px;
}
.menu-button {
    padding-left: 22px;
    padding-top: 6px;
    padding-right: 22px;
    padding-bottom: 6px;
    line-height: 26px;
    border: transparent;
    border-radius: 4px;
    text-align: center;
    transition-property: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}
.menu-button:hover,
.menu-button:focus {
    box-shadow: 0px 2px 2px 0px #0000001F;
    box-shadow: 0px 1px 2px 0px #00000014;
    box-shadow: 0px 3px 1px 0px #0000001A;
    outline: none;
}
.portfolio-main-menu {
    margin-bottom: 50px;
}
.portfolio-section {
    padding-bottom: 94px;
}
.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
    margin-left:-30px;
    margin-top:-30px;
    padding: 0px;   
}
.portfolio-item {
    margin-left: 30px;
    margin-top: 30px;
    flex-basis: calc(100%/3 - 30px);
}
.project-card  {
    position: relative;
    overflow: hidden;
}
.portfolio-item-link:hover .portfolio-card-text,
.portfolio-item-link:focus .portfolio-card-text {
    opacity: 0.9;
    
    transform: translateY(0%);
}
.portfolio-card-text {
    display: inline-block;
    position: absolute;
    padding: 63px 24px 63px 24px;
    margin: 0px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    color: #FFFFFF;
    background-color: var(--accent-color);
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),opacity 500ms cubic-bezier(0.4, 0, 0.2, 1) ;
}
.portfolio-card-text:hover,
.portfolio-card-text:focus {
    opacity: 0.9;
    transform: translateY(0%);
}
.portfolio-item:hover,
.portfolio-item:focus {
    box-shadow: 1px 4px 6px 0px #00000029;
    box-shadow: 0px 4px 4px 0px #0000000F;
    box-shadow: 0px 1px 1px 0px #0000001F;
    outline: none;
}
.portfolio-card {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 24px;
    padding-right: 24px;
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
}
.backdrop {
    position: fixed;
    top: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;
    transition: opacity 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}
.backdrop.is-hidden.modal {
    transform: translate(-50%, -50%) scale(1.1);
}
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.9);
    width: 528px;
    height: 581px;
    background-color: #FFFFFF;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-close {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 8px;
    margin-right: 8px;
    width: 30px;
    height: 30px;
    background-color: #FFFFFF;
    border-radius: 50%;
    border-color:rgba(0, 0, 0, 0.1)
}
.close {
    fill: black;
    width: 11px;
    height: 11px;
}