.project__title {
    margin: 0px;
    padding: 0px;
    margin-bottom: 4px; ;
    font-size: 18px;
    font-weight: 700;
    color: #212121;
    font-family: Roboto;
    line-height: 2;
    letter-spacing: 0.06em;

}
.project__type {
    margin: 0px;
    padding: 0px;
    font-size: 16px;
    font-weight: 400;
    color: #757575;
}
.project__card  {
    position: relative;
    overflow: hidden;
}

.portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
}
.portfolio__menu {
    margin-bottom: 50px;
    & li:not(:last-child) {
        margin-right: 8px;
    }
}
.portfolio__submenu {
    display: flex;
    margin: 0px;
    padding: 0px;
    justify-content: center;
    list-style: none;
}

.portfolio__section {
    padding-bottom: 94px;
}
.portfolio__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
    margin-left:-30px;
    margin-top:-30px;
    padding: 0px;   
}
.portfolio__item {
    margin-left: 30px;
    margin-top: 30px;
    flex-basis: calc(100%/3 - 30px);
}

.portfolio__card {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 24px;
    padding-right: 24px;
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
}
.portfolio__card-text {
    display: inline-block;
    position: absolute;
    padding: 63px 24px 63px 24px;
    margin: 0px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 35;
    opacity: 0;
    color: #FFFFFF;
    background-color: var(--accent-color);
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),opacity 500ms cubic-bezier(0.4, 0, 0.2, 1) ;
       &:hover,
       &:focus {
         opacity: 0.9;
         transform: translateY(0%);}

}

.portfolio__item-link {
    display: inline-block;
    transition-property: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
      &:hover .portfolio__card-text,
      &:focus .portfolio__card-text {
       opacity: 0.9;
        transform: translateY(0%);}
       &:hover,
       &:focus {
       box-shadow: 1px 4px 6px 0px #00000029, 0px 4px 4px 0px #462c2c0f, 0px 1px 1px 0px #0000001F;
       outline: none;}
}
