.advantage {
    // margin-left: auto;
    // margin-right: auto;
    // padding-top: 94px;
    // padding-bottom: 94px;
    @media screen and (max-width: 480px), (min-width: 480px) {
        margin-top: 30px;
        margin-bottom: 30px;
        padding-left: 0px;
        padding-right: 0px;}
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        margin-top: 60px;
        margin-bottom: 60px;
        height: auto;
    }
}

.advantage__title {
    font-size: 14px;
    font-weight: 700;
    color: #212121;
    letter-spacing: 0.03em;
    @media screen and (max-width: 480px), (min-width: 480px) {
        text-align: center;
        margin-top: 30px;
        margin-bottom: 10px;
    }
}
.advantage__list {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    @media screen and (max-width: 480px), (min-width: 480px) {
        display: block;
    }
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        display: flex;
        flex-wrap: wrap;
        margin-top: -15px;
        margin-left: -15px;
    }
}
// .advantage__list .advantage__list-item:not(:last-child) {
//     // margin-right: 30px;
//     @media screen and (max-width: 480px), (min-width: 480px) {
//         width: 100%;
//     }
// }
.advantage__list-item { 
    @media screen and (max-width: 480px), (min-width: 480px) {
        width: 100%;
    }
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        width: calc((100% - 4*15px)/2);
        margin: 15px;
        
    }
}
.advantage__list-item::before {
    display: block;
    content: "";
    height: 120px;
    width: 270px;
    border-radius: 4px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #F5F4FA;
    @media screen and (max-width: 480px), (min-width: 480px) {
      width: 100%;
      margin-right: 15px;
    }
}
.advantage__fill {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.03em;
    line-height: 24px;
    @media screen and (max-width: 480px), (min-width: 480px) {
        color: #757575;
        margin-bottom: 30px;
    }
}
.advantage__list-item:nth-child(1)::before {
    background-image: url(../images/antenna.png) ;
}
.advantage__list-item:nth-child(2)::before {
    background-image: url(../images/clock.png) ;
}
.advantage__list-item:nth-child(3)::before {
    background-image: url(../images/diagramma.png) ;
}
.advantage__list-item:nth-child(4)::before {
    background-image: url(../images/astronaut1.png); }