.main-button {
    padding: 8px 30px 8px 30px;
    font-family: Roboto;
    background-color: $accolor;
    font-size: 16px;
    font-weight: 700;
    color: white;
    letter-spacing: 0.06em;
    line-height: 30px;
    border-radius: 4px;
}

.submenu__button:nth-last-child(-n + 3) {
    @media screen and (max-width: 480px), (min-width: 480px) {
        margin-bottom: 15px;
    }
}
