.footer {
    display: flex;
    align-items: baseline;
    // padding-top: 60px;
    // padding-bottom: 60px;
    background-color: #2f303a;
    @media screen and (max-width: 480px), (min-width: 480px) {
        display: block;
    }
}
.footer-planshet {
    @media screen and (min-width: 768px) and (max-width: 1199px) {
       display: flex;
       justify-content: space-around;
       align-items: baseline;  
    }
}
.footer-contacts {
    // margin-right: 70px;
    @media screen and (max-width: 480px), (min-width: 480px) {
        align-items: baseline;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 60px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
.footer__parts {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    @media screen and (max-width: 480px), (min-width: 480px) {
       align-items: stretch;
    }
}
.footer__socials {
    display: flex;
    flex-direction: column;
    @media screen and (max-width: 480px), (min-width: 480px) {
        text-align: center;
        align-items: baseline;
    } 
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        width: 50%;
    }
}
.join-us {
    text-transform: uppercase;
    // padding-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    color: #FFFFFF;
    font-family: Roboto;
    line-height: 1.16;
    letter-spacing: 0.03em;
    @media screen and (max-width: 480px), (min-width: 480px) {
        display: block;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 20px;
        text-align: center;
    }
}
.social__list-link {
    display: flex;
    margin-right: 10px;
    & .social-instagram {
        fill: #FFFFFF;
    }
    & .social-twitter {
        fill: #FFFFFF;
    }
    & .social-facebook {
        fill: #FFFFFF;
    }
    & .social-linkedin {
        fill: #FFFFFF;
    }

}