.logotype {
    margin-right: 93px;
}
.logotype__web {
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    color:  $accent-color;
}
.logotype__studio {
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    color: black;
}
.logotype__footer {
    display: block;
    margin-bottom: 20px;
}
.logotype__studio-dark {
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    color: #FFFFFF;
}