.nav-contacts__list {
    display: flex;
    padding: 0px;
    margin: 0px;
    margin-left: auto;
    &.nav-contacts__item:not(:last-child) {
        margin-right: 50px;
    }
    @media screen and(max-width:480px) {
        display:none;
    }
}

.title-nav {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 14px;
    font-weight: 500;
    color: #2F303A;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
    &:hover,
    &:focus {
    color: $accolor;
    outline: none;
   }
}


@media screen and(max-width:480px) {

.mobile-button {
    display: inline-flex;
    padding: 0px;
    margin: 0px;
    border: 0px;
    background-color: transparent;
  }
.mobile-button_open {
    width: 24px;
    height: 16px;

}
.mobile-button_close {
    width: 19px;
    height: 19px;
    
}
.mobile-button .mobile-button_close {
    display: none;
}
.mobile-button.is-open .mobile-button_close {
    display: block;
}
.mobile-button.is-open .mobile-button_open {
    display: none;
}
}